# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env
.env.*
dist/
build/
*.log

# VSCode
.vscode/

# Sistema
.DS_Store
Thumbs.db

# Ignorar sub-repositório que causa erro no git add
TS-GERENCIAMENTO-ESCOLAR/
